<section id="contact">
  <h1 class="titleSection">Contact</h1>

  <div class="grid-contact">
    <div class="contact-info">
      <p class="contact-title">Contactame</p>
      <p class="contact-about">Si quieres contactarme para cualquier cosa, no dudes en hacerlo</p>
      <div class="contact-links">
        <a href=""><img class="enlaces-img" src="icons/linkedin-svgrepo-com (1).svg" alt=""></a>
        <a href=""><img class="enlaces-img" src="icons/github-142-svgrepo-com.svg" alt=""></a>
        <a href=""><img class="enlaces-img" src="icons/email-svgrepo-com.svg" alt=""></a>
      </div>
    </div>

    <div class="contact-form">
      <form action="">
        <label for="name">Nombre</label>
        <input type="text" id="name" autocomplete="name">

        <label for="email">Email</label>
        <input type="text" id="email" autocomplete="email">

        <label for="message">Mensaje</label>
        <textarea name="" id="message" cols="30" rows="10"></textarea>
        <button class="btn-contact">Enviar </button>
      </form>
    </div>
  </div>
</section>