<section id="sobreMi" class="aboutMe">
  <h1 class="titleSection">Sobre mi</h1>
  <h3 class="subtitleSection">Soy un joven de 22 años con muchas ansias de vivir la experiencia laboral del mundo
    del desarrollo web.</h3>

  <div class="content">
    <div class="education">
      <h3>Educacion</h3>
      <div class="grid">
        <div class="grid-item">
          <h2>Ciclo formativo superior DAW</h2>
          <p>Instituto CDP Jose Cabrera</p>
          <p>2021-2023</p>
        </div>
        <div class="grid-item">
          <h2>Bachillerato CITE</h2>
          <p>Instituto I.E.S La Granja</p>
          <p>2017-2019</p>
        </div>
        <div class="grid-item">
          <h2>Educacion secundaria</h2>
          <p>Instituto I.E.S La Campiña</p>
          <p>2013-2017</p>
        </div>
      </div>

    </div>

    <div class="education">
      <h3>Laboral</h3>
      <div class="grid">
        <div class="grid-item">
          <h2>Desarrollador PHP</h2>
          <p>Controlnet</p>
          <p>Desarrollo de un proyecto en Debian con Php y Javascript con base en Laravel.
            Adicionalmente experiencia en soporte de
            servidores</p>
          <p>Marzo 2023-Junio 2023</p>
        </div>
      </div>

    </div>

    <!-- <div class="work">
      <h3>Trabajo</h3>
      <h2 class="work-title">Desarrollador PHP</h2>
      <p class="work-site">Controlnet</p>
      <p class="work-about">Desarrollo de un proyecto en Debian con Php y Javascript con base en Laravel.
        Adicionalmente experiencia en soporte de
        servidores</p>
      <p class="work-years">Marzo 2023-Junio 2023</p>
    </div> -->
  </div>

  <!--
  <div class="btn-grid">
    <button (click)="changeView(0)">Educación</button>
    <button (click)="changeView(1)">Laboral</button>
  </div>

  <div class="center-content">
    <div *ngIf="accordions[0].isOpen">
      <div class="grid-container">
        <div class="grid-item">
          <h2 class="education-title">Ciclo formativo superior DAW</h2>
          <p class="educacion-site">Instituto CDP Jose Cabrera</p>
          <p class="educacion-years">2021-2023</p>
        </div>
        <div class="grid-item">
          <h2 class="education-title">Bachillerato CITE</h2>
          <p class="educacion-site">Instituto I.E.S La Granja</p>
          <p class="educacion-years">2017-2019</p>
        </div>
        <div class="grid-item">
          <h2 class="education-title">Educacion secundaria</h2>
          <p class="educacion-site">Instituto I.E.S La Campiña</p>
          <p class="educacion-years">2013-2017</p>
        </div>
      </div>
    </div>

    <div *ngIf="accordions[1].isOpen">
      <div *ngFor="let item of accordions[1].items">
        <h2 class="work-title">{{item.title}}</h2>
        <p class="work-site">{{item.site}}</p>
        <p class="work-about">Desarrollo de un proyecto en Debian con Php y Javascript con base en Laravel.
          Adicionalmente experiencia en soporte de
          servidores</p>
        <p class="work-years">{{item.years}}</p>
      </div>

    </div>
  </div> -->

</section>