@import "../../../styles.scss";

.aboutMe {
  hr {
    @media (min-width: 768px) {
      margin-top: 5%;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    .education {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // padding: 2%;
      width: 30%;
      border: 1px solid $text-100;
      border-radius: 30px;
      margin: 0 0 0 5%;
      padding: 2% 2% 6% 5%;
      box-shadow: 0px 0px 10px 0px $primary-300;

      h3 {
        text-decoration: underline;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 5%;
        width: 70%;
        margin: 0 0 5% 0;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 30%;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px $primary-300;
    padding: 2% 2% 4%;

    h2 {
      color: $primary-200;
    }

    .grid-item {
      h2 {
        a {
          cursor: pointer;
          color: $text-100;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: -14px;
        top: 11px;
        bottom: 0;
        width: 8px;
        background-color: $primary-200;
        border-radius: 4px;
        height: 8px;
      }
    }
  }
}

.widt {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  padding-left: 5%;

  .grid-item {
    position: relative; /* Agregamos posición relativa al elemento padre */
    h2,
    p {
      font-family: Poppins-Regular;
    }

    h2 {
      font-size: 113%;
      margin: 1vh 0 0 0;
    }

    p {
      font-size: 90%;
      margin: 1px 0 1px 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $primary-200;
      border-radius: 4px;
    }
  }
}
