@import "../../../styles.scss";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  overflow: hidden;

  ul {
    font-size: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos más pequeños */

    li {
      margin: 0 5px; /* Reduzco el margen horizontal */
      transform: skewX(-20deg);
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: -2px; /* Ajusta el valor según el ancho del borde */
          height: 100%;
          border-right: 2px solid $primary-100; /* Color y ancho del borde derecho */
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 5px 10px; /* Reduzco el padding para dispositivos móviles */
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s ease;

        &:hover {
          border-bottom: 2px solid $primary-100;
        }
      }
    }
  }
}
