<section id="proyectos">
  <h1 class="titleSection">Proyectos</h1>
  <h3 class="subtitleSection">Aquí puedes ver algunos de mis proyectos</h3>


  <div class="grid-container">
    <div class="card">

      <div class="card-img">
        <img class="img" src="../../../assets/proyects/fake-ecommerce.png" alt="Fake Ecommerce">
      </div>

      <div class="card-summary">
        <div class="description">
          <h3 class="text-center">Fake Ecommerce</h3>
          <p class="text-center">Angular + CSS + Dummy.json</p>
          <p class="text-center">
            <a href="https://fake-ecommerce-antonio.netlify.app/" target="_blank">Demo</a>
            <span>|</span>
            <a href="https://github.com/acontrecar/Fake-Ecommerce" target="_blank">Repo</a>
          </p>
        </div>
      </div>


    </div>

    <div class="card">

      <div class="card-img">
        <img class="img" src="../../../assets/proyects/pisos.webantonioc.es_ (1).png" alt="Pisos">
      </div>


      <div class="card-summary">
        <h3 class="text-center">TFG Admin Pisos</h3>
        <p class="text-center">HTML + CSS + PHP + JS + SQL</p>
        <p class="text-center">
          <a href="https://pisos.webantonioc.es/" target="_blank">Demo</a>
          <span>|</span>
          <a href="https://github.com/acontrecar/ProyectoFinGrado" target="_blank">Repo</a>
        </p>
      </div>

    </div>

    <div class="card">
      <div class="card-img">
        <img class="sv-img" src="../../../assets/icons/backend/laravel-svgrepo-com.svg" alt="Pisos">
      </div>


      <div class="card-summary">
        <h3 class="text-center">Proyecto de tienda</h3>
        <p class="text-center">Laravel + Vue + SQL</p>
        <p class="text-center">
          <a href="https://github.com/acontrecar/Proyecto-Tienda" target="_blank">Repo</a>
        </p>
      </div>

    </div>
  </div>
</section>