<section id="habilidades">
  <h1 class="titleSection">Habilidades</h1>
  <h3 class="subtitleSection">Las tecnologías que conozco actualmente</h3>

  <!-- <div>
    <img *ngFor="let svg of svgs" [src]="'assets/icons/' + svg.name" alt="">
  </div> -->
  <!-- <div class="contents">
    <div class="content" *ngFor="let svg of svgs">
      <span>{{svg.folderName}}</span>

      <div class="content-imgs">
        <img class="imagenes" *ngFor="let icon of svg.names" [src]="'assets/icons/' + svg.folderName + '/' + icon"
          alt="">
      </div>
    </div>
  </div> -->

  <div class="contents">
    <div class="content-imgs">
      <img *ngFor="let item of svgFinal" class="imagenes" [src]="item" alt="">
    </div>
  </div>
</section>