@import "../../../styles.scss";

.contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; // Centra los elementos internos horizontalmente

  .content {
    display: flex;
    align-items: flex-start; // Alinea los elementos span a la izquierda
    span {
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 0 0.5rem 0 0.5rem;
    }
    .content-imgs {
      .imagenes {
        width: 40px;
        height: 40px;
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }
}
