@import "../../../styles.scss";

.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10vh;
  margin-top: 10vh;
  align-items: center;

  .info {
    .info-header {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .info-body {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .info-footer {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .btn {
      background-color: $primary-100;
      color: $bg-100;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      transition: background-color 0.3s ease, transform 0.3s ease;
      margin-right: 1rem;

      &:hover {
        background-color: $primary-200;
      }

      &:active {
        transform: scale(1.05);
      }
    }

    .btn-hire {
      background-color: $primary-100;
      a {
        color: $bg-100;
        text-decoration: none;
      }
    }

    .btn-download {
      background-color: $primary-300;
    }
  }

  .photo {
    position: relative;
    display: inline-block;

    .img {
      border-radius: 5vh;
      border-bottom-left-radius: 20vh;
      position: relative;
      z-index: 1;
      display: block;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 255, 0, 0.5); // Color verde con opacidad
        border-radius: 20vh;
        z-index: -1; // Detrás de la imagen
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: auto;
    justify-items: center;

    .info {
      text-align: center;
    }

    .photo {
      margin-bottom: 2rem;
    }
  }
}
