<section class="content">
  <div class="info">
    <p class="info-header">Bienvenido a mi sitio web</p>
    <h1 class="info-body">Hola! Soy Antonio, Desarrollador web</h1>
    <p class="info-footer">
      Es un placer que quieras saber más de mí. Te invito a que veas mi trabajo
      y me contactes para cualquier cosa.
    </p>

    <button class="btn btn-hire">
      <a href="mailto:acontrecar@gmail.com" target="_blank">Hire me</a>
    </button>
    <button class="btn btn-download" (click)="downloadCV()">
      Descarga mi CV
    </button>
  </div>
  <div class="photo">
    <img
      class="img"
      height="420px"
      src="../../../assets/fotoPerfil.jpeg"
      alt=""
    />
  </div>
</section>
