<footer class="footer">
  <div class="titleSection">
    <h1>Contactame</h1>
  </div>
  <div class="social-media">
    <div class="group">
      <img class="img" src="../../../assets/next-svgrepo-com.svg" alt="">
      <a href="https://www.linkedin.com/in/antoniocontrerasc%C3%A1rdenas/" target="_blank" class="social-link"><img
          src="../../../assets/icons/linkedin-svgrepo-com (1).svg" alt=""></a>
    </div>

    <div class="group">
      <img class="img" src="../../../assets/next-svgrepo-com.svg" alt="">
      <a href="https://github.com/acontrecar" target="_blank" class="social-link">
        <img src="../../../assets/icons/github-142-svgrepo-com.svg" alt="">
      </a>
    </div>
    <div class="group">
      <img class="img" src="../../../assets/next-svgrepo-com.svg" alt="">
      <a href="mailto:acontrecar@gmail.com" class="social-link">
        <img src="../../../assets/icons/email-svgrepo-com.svg" alt="">
      </a>
    </div>


  </div>
</footer>