@import "../../../styles.scss";

.footer {
  width: 100%;
  margin-top: 5vh;
  color: #fff;
  text-align: center;
  padding: 20px 0;

  .social-media {
    margin-top: 10px;

    .social-link {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: 30px;
        height: 30px;
        border: 1px solid $primary-300;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}
